<div class="container">
    <h1>Acerca de Nosotros</h1>
    <p>Somos "Carnes y Vinos de Argentina," un restaurante apasionado por ofrecer la mejor experiencia culinaria de la gastronomía argentina. Nuestra historia comenzó en 1995 cuando un grupo de amantes de la carne y el vino decidió unir fuerzas y crear un lugar único en el corazón de la ciudad.</p>
    
    <p>En nuestro restaurante, te invitamos a disfrutar de los auténticos sabores de Argentina. Nuestra parrilla está siempre encendida, preparando los cortes más jugosos y deliciosos que puedas imaginar. Además, ofrecemos una amplia selección de vinos argentinos cuidadosamente elegidos para complementar tu experiencia gastronómica.</p>
    
    <p>La pasión por la carne, el respeto por la tradición argentina y la hospitalidad son los pilares que nos guían. Queremos que cada visita a nuestro restaurante sea una celebración de la buena comida y la amistad.</p>
    
    <p>¡Esperamos verte pronto en "Carnes y Vinos de Argentina!"</p>
  
</div>

<app-footer></app-footer>
