<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>Contacto</h3>
          <p>Dirección: 123 Calle Ficticia, Ciudad Imaginaria</p>
          <p>Teléfono: (123) 456-7890</p>
          <p>Email: info@miempresa.com</p>
        </div>
        <div class="col-md-6">
          <h3>Redes Sociales</h3>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Facebook</a></li>
            <li class="list-inline-item"><a href="#">Twitter</a></li>
            <li class="list-inline-item"><a href="#">Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
