<nav class="navbar navbar-success   bg-success mb-5">
  <a class="navbar-brand d-flex align-items-center mx-5 title" href="#">
    <img [src]="logo" width="50" height="40" class="d-inline-block align-top logo" alt="">
    Carnes y Vinos de Argentina
  </a>

  <div class="links d-flex align-items-center mx-5">
    <ul class="navbar-nav mx-5"> <!-- Utiliza ml-auto en lugar de mr-auto -->
      <li class="nav-item">
        <a class="nav-link " routerLink="/dashboard">Menus</a>
      </li>
    </ul>

    <ul class="navbar-nav mx-5"> <!-- Agrega mr-2 para el espaciado -->
      <li class="nav-item">
        <a class="nav-link " routerLink="/Agregar">Perzonalizar plato</a>
      </li>
    </ul>
    <ul class="navbar-nav mx-5"> <!-- Agrega mr-2 para el espaciado -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/acerca-de-nosotros">Acerca de nosotros</a>
      </li>
    </ul>
  </div>






  

</nav>

